<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>BOOKS</h1>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>shelf_id</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for(let i=0; i < books.length; i++) { %>
            <tr>
                <td>
                    <%= books[i].id %>
                </td>
                <td>
                    <%= books[i].title %>
                </td>
                <td>
                    <%= books[i].author %>
                </td>
                <td>
                    <%= books[i].shelf_id %>
                </td>
                <td>
                    <a href="/books_put/<%= books[i].books_id %>">Edit</a>
                </td>
                <td>
                    <a href="/delete/<%= books[i].books_id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
    <a href="/">SHELVES</a>
    <a href="/books">BOOKS</a>
    <a href="/books_post">Add Books</a>
</body>

</html>